body { margin:0 }
.header{
    font-family: 'Ubuntu Mono', monospace;
    display:flex;
    align-items: center;
    height:10vh;
    background-color: black;
    color:#fff;
    padding:0 2vw;
}

.header__text{
    margin:0 10px;
}